<!-- -*- mode: XML -*- -->

<launch>
    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find headunit)/config/ke_controllers.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node name="headunit_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=headunit_port
                --type=simple
                pitch_controller
                yaw_controller
                roll_controller"
          output="screen"/>
</launch>
